:root{
    --acsent-color: rgba(238, 246, 250, 0.918);
    --text-color: rgb(5, 16, 44);
    --text-active: rgba(21, 77, 197, 0.89);
    --icons: gray;
    
}
body{
    background-color: rgb(221, 223, 224);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color: var(--acsent-color);
    width: 80%;
    margin: 30px auto;
    display:flex;
    border-radius: 10px;
    
}
aside{
    width: 15%;
    padding: 10px;
    background-color: var(--acsent-color);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    border-radius: 10px;
}
aside i{
    color: var(--icons);
}
.user{
    margin: auto;
    text-align: center;
    line-height: 5px;
    padding:10px ;
}

.user a{
    text-decoration: none;
    color: var(--icons);
    font-size: 15px;
}

.user img{
    width: 90px;
    height: 90px;
    border-radius: 360px;
    box-shadow: 1px 3px 6px gray;
}
nav{
    margin-top: 10px;
    padding: 0;
    text-align: left;
}
ul{
    width: fit-content;
    list-style-type: none;
    margin-left: 5px;
    padding-left: 0;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    /* font-weight:600; */
    margin-left: 7px;
    font-size: 13px;
}
 li{
    text-decoration: none;
    margin-block: 20px;
    
 }
 a:hover{
    color: var(--text-active);
 }
 nav p{
    color: var(--icons)
 }
 section{
    width: 85%;
    background: linear-gradient(var(--acsent-color), rgba(169, 207, 238, 0.5));
    border-radius: 0 10px 10px 0px;
    padding: 20px;
    
 }
 header{
    display: flex;
    justify-content: space-between;
 }

 .search{
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: transparent;
    width: 270px;
    height: 30px;
 }

 .search i{
    position: absolute;
    left: 10px;
    top: 30%;
    color: var(--text-color);
 }
 input[type="search"]{
    border: 1px solid var(--icons);
    border-radius: 30px;
    background-color: transparent;
    width: 350px;
    height: 35px;
    transition: 0.3s ease;
    padding-left: 35px;
 }
 input[type="search"]:focus{
  outline: none;
  width: 255px;
  height: 35px;
  box-shadow: 1px 3px 6px rgb(205, 206, 206);
 }

 .settings{
    display: flex;
    color: var(--icons);
    justify-content: space-between;
    align-items: center;
    width: 20%;
 }

 .settings button{
    height: 25px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(125deg, red,rgb(241, 203, 203)) left;
    color:white;
 }
 
 .settings button:hover{
    height: 26px;
 }

 .settings i:hover{
    color: var(--text-color);
 }

 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--icons);
 }
 .title h2{
    color: var(--text-color);
 }
 
 .slides{
    display: flex;
    justify-content: space-around;
    gap: 7px;
    
 }

 .slides:first-child{
    height: 200px;
    width:190px;
 }

 .slide{
    height: 200px;
    width:170px;
   line-height: 5px;
   transition: 0.6 ease;
 }
 .slide p, .player p{
    color: var(--icons);
    font-size: 15px;
 }
 .pic{
    height: 75%;
    margin-bottom: 25px;
 }
 .pic img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 5px 8px gray;
 }

 .pic img:hover{
    padding:2px;
 }


 .music{
    margin-top: 20px;
    line-height: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    gap: 20px;
}
.player{
    width: 40%;
}

.outer{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: var(--acsent-color);
}

.disc{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 360px;
    background-repeat: round;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.disM{
    width: 40%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 360px;
}
.inner{
    width: 80%;
    height: 84%;
    box-shadow: 0 7px 15px rgb(199, 200, 201);
    margin-inline: auto;
    border-radius: 0  0 20px 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 5px;
}
.playlist{
    width: 60%;
}

 
.debugger{
    border: 1px solid red;
   
}